body, html {
    /* font-family: verdana; */
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/e9/7b/ab/e97bab7d177c3a4807c9ae8a61c799bc.jpg');
}

.subtitle {
    color: white;
}
.navDiv {
    display: flex;
    justify-content: space-around;
    color: white !important;
    background-color: dodgerblue;
    align-items: center;
    height: 50px;
}

a {
    background-color: transparent;
}

.navbar-menu {
    background-color: #1030AD;
}

.navbar-item {
    background-color: #1030AD;
    color: #ffcc00;
}

/* .navbar-item:hover {
    background-color: #ffcc00;
    color: #1030AD;
} */

.box {
    background-color: #1030AD;
    border: 3px solid #ffcc00;
}

.navbar-burger {
    color: #ffcc00;
}

.navbar-burger:hover {
    color: #ffcc00;
}

.button, .is-link {
    color: #ffcc00;
}
.outerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.innerBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
    border-radius: 5%;
    width: 25%;
    height: 25%;
    margin: 3px;
    padding: 3px;
}

.navLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.adminBox {
    height: 500px;
    /* border: 1px solid black; */
    border-radius: 5px;
    overflow-y: scroll;
}

.reviewBox {
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 5px;
    overflow-y: scroll;
}

.brandButton {
    background-color: #ffcc00;
    color: #1030AD;
}

.button:hover {
    transform: scale(1.05);
    color: #1030AD;
}

.titleLink {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
}

.titleLink:hover {
    color: #ffcc00;
    text-decoration: underline;
}